*{
    margin: 0px;
    padding: 0px;
}
#titulo {
    text-align: center;
    background-color: blue;
}
#lista{
    text-align: center;
    font-size: 1em;
    background-color: chocolate;
    margin: 5%;
    margin-left: 35%;
    width: 25%;
}
a:hover{
    color: green;
    text-decoration: underline;
}
li a{
    text-decoration: none;
    color: black;
}
